In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [2]:
data_path = os.path.join(os.getcwd(),"Data","Transaksi.xlsx")

In [3]:
transaksi = pd.read_excel(data_path,sheet_name="Transaksi")
transaksi

,transaction_date,stock_date,product_id,customer_id,store_id,quantity,Kategori Besar/Kecil
0,1998-01-01,1997-12-25,4,2439,10,3,Besar
1,1998-01-01,1997-12-28,11,4284,10,3,Besar
2,1998-01-01,1997-12-28,12,534,10,3,Besar
3,1998-01-01,1997-12-29,14,9743,10,2,Kecil
4,1998-01-01,1997-12-27,16,3608,10,3,Besar
...,...,...,...,...,...,...,...
182878,1998-12-30,1998-12-29,1521,7197,11,3,Besar
182879,1998-12-30,1998-12-23,1536,5223,10,2,Kecil
182880,1998-12-30,1998-12-23,1542,8077,10,4,Besar
182881,1998-12-30,1998-12-28,1544,4485,10,2,Kecil
182882,1998-12-30,1998-12-29,1549,5223,10,3,Besar

In [4]:
!pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (2.0.22)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.9)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (3.0.0)

In [5]:
db_user = 'postgres'
db_password = 'postgrespassword'
db_host = 'postgres'
db_port = '5432'
db_name = 'Transaction'

engine = create_engine(f'postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

In [6]:
transaksi.to_sql('transaksi', engine, if_exists='replace', index=False)

883

In [7]:
# Store

In [8]:
store = pd.read_excel(data_path,sheet_name="Store")

In [9]:
store.to_sql('store', engine, if_exists='replace', index=False)

24

In [10]:
Product = pd.read_excel(data_path,sheet_name="Product")

In [11]:
Product.to_sql('product', engine, if_exists='replace', index=False)

560

In [12]:
customer = pd.read_excel(data_path,sheet_name="Customer")

In [13]:
customer.to_sql('customer', engine, if_exists='replace', index=False)

281